<div class="nav__container">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/add-course">Add Course</a>
      </li>
      <li>
        <a href="/form-sign-up">Sign Up</a>
      </li>
      <li>
        <a href="/form-log-in">Log in</a>
      </li>
      <li>
        <a href="log-out">Log out</a>
      </li>
    </ul>
  </nav>
</div>
