.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding-top: 20%;
}

input {
  border: 1px solid #000;
  background-color: whitesmoke;
  border-radius: 0.3125rem;
  padding: 5px 5px 5px 5px;
}

button {
  border: 1px solid #000;
  padding: 6px 20px 6px 20px;
  border-radius: 10px;
  background-color: beige;
  font-weight: 600;
  transition: 0.3s all;
}

button:hover {
  background-color: rgb(178, 178, 131);
}
