.courses__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 30px;
}

.course-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #f1eaea;
  border-radius: 20px;
}

.title {
  font-size: 2.5rem;
  padding-top: 0.625rem;
}
.price {
  font-size: 1.875rem;
  padding-bottom: 0.625rem;
}

.course-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
